/* @import "tailwindcss";
@theme {
    --my-padding: 50px
  } */
.text-stroke-2 {
  -webkit-text-stroke: 2px #fff;
}
.text-shadow{
  text-shadow:  0 0 1.5rem rgba(0,0,0,0.5);
}
.my-filter{
  filter: brightness(0) saturate(100%) invert(12%) sepia(85%) saturate(7499%) hue-rotate(354deg) brightness(90%) contrast(99%);
}
.login-details{
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
}
.user-info:hover .login-details{
  opacity: 1;
  visibility: visible;
  transform: translateY(-5px);
}
/* .profile-pic:hover +.login-details{
  opacity: 1;
  visibility: visible;
  transform: translateY(-5px);

} */